@model IEnumerable<inmobiliariaBaigorriaDiaz.Models.TipoDeInmueble>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><u>Lista de tipos de inmuebles</u></h1>

<p>
    <a asp-action="Create">Crear un tipo de inmueble</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoDeInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="centered-row">
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoDeInmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.IdTipoDeInmueble })" title="Editar"> <i
                            class="fas fa-edit"></i></a>
                    |
                    <a href="@Url.Action("Details", new { id = item.IdTipoDeInmueble })" title="Detalles"> <i
                            class="fas fa-info-circle"></i></a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.IdTipoDeInmueble })" title="Eliminar"> <i
                            class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
