@model inmobiliariaBaigorriaDiaz.Models.Propietario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Telefono != null)
            {
                @Html.DisplayFor(model => model.Telefono)
            }
            else
            {
                <text>No declarado</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Email != null)
            {
                @Html.DisplayFor(model => model.Email)
            }
            else
            {
                <text>No declarado</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Estado)
            {
                @Html.Label("Alta")
            }
            else
            {
                @Html.Label("Baja")
            }
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id = Model.IdPropietario })" class="btn btn-primary btn-editar" style="margin-right: 30px;">Editar</a>
    <button type="button" onclick="window.location.href='@Url.Action("Index", "Propietario")'" class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la Lista</button>
</div>
