@model inmobiliariaBaigorriaDiaz.Models.Pago

@{
    ViewData["Title"] = "Edit";
    string fecha = Model.Fecha.ToString("dd-MM-yyyy");
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ACTUALIZACIÓN DEL PAGO</b></h1>
                    <hr />
                    <dl class="row">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NumeroDePago" class="control-label"></label>
                                <input asp-for="NumeroDePago" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="IdContrato" class="control-label"></label>
                                <input asp-for="IdContrato" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Monto" class="control-label"></label>
                                <input asp-for="Monto" class="form-control" readonly />
                                <span asp-validation-for="Monto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MesDePago" class="control-label"></label>
                                <select asp-for="MesDePago" class="form-select" name="MesDePago">
                                    @foreach (var item in ViewBag.Meses)
                                    {
                                        @if (@Model.MesDePago == item)
                                        {
                                            <option selected value="@item">@(item)</option>
                                        } else {
                                            <option value="@item">@(item)</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="MesDePago" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input asp-for="Fecha" type="date" class="form-control" readonly/>
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-guardar"
                                    style="margin-right: 30px;" />
                                <button type="button" onclick="window.location.href='@Url.Action("Index", "Pago")'"
                                    class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;">
                                    Volver a la
                                    Lista</button>
                            </div>
                        </form>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>