@model List<Inmueble>

<div class="container">
    <h1 class="text-center">Disponibilidad de Inmuebles</h1>

    <div class="row">
        <!-- Columna para el formulario de búsqueda de inmueble -->
        <div class="col-md-6 d-none" id="buscarInmuebleContainer">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="formBuscar" asp-action="Buscar" method="post">
                                    <h2>Buscar Inmueble</h2>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="IdUsoDeInmueble" class="form-label">Uso del inmueble:</label>
                                            <select id="IdUsoDeInmueble" class="form-select" name="IdUsoDeInmueble">
                                                <option disabled selected hidden value="">Seleccionar</option>
                                                @foreach (var item in ViewBag.UsosDeInmuebles)
                                                {
                                                    <option value="@item.IdUsoDeInmueble">@item.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="IdTipoDeInmueble" class="form-label">Tipo de inmueble:</label>
                                            <select id="IdTipoDeInmueble" class="form-select" name="IdTipoDeInmueble">
                                                <option disabled selected hidden value="">Seleccionar</option>
                                                @foreach (var item in ViewBag.TiposDeInmuebles)
                                                {
                                                    <option value="@item.IdTipoDeInmueble">@item.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="ambientes" class="form-label">Cantidad de ambientes:</label>
                                            <input type="number" id="ambientes" name="ambientes" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="precioDesde" class="form-label">Precio desde:</label>
                                            <input type="number" id="precioDesde" name="precioDesde"
                                                class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="precioHasta" class="form-label">Precio hasta:</label>
                                            <input type="number" id="precioHasta" name="precioHasta"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="fechaDesde" class="form-label">Fecha desde:</label>
                                            <input type="date" id="fechaDesde" name="fechaDesde" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fechaHasta" class="form-label">Fecha hasta:</label>
                                            <input type="date" id="fechaHasta" name="fechaHasta" class="form-control">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna para el formulario de búsqueda de inquilino -->
        <div class="col-md-6">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="BuscarInquilino" class="mt-md-0 mt-4">
                                    <h2>Buscar Inquilino</h2>
                                    <div class="mb-3">
                                        <label for="dni" class="form-label">Ingrese el DNI del inquilino:</label>
                                        <input type="number" name="dni" id="dni" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>
                                <div class="resultadoInquilino"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Columna para la tabla -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="mt-4">Inmuebles disponibles:</h2>
                    <table id="tablaResultados" class="table table-striped table-hover table-bordered custom-table">
                        <thead>
                            <tr>
                                <th>Dirección</th>
                                <th>Tipo de Inmueble</th>
                                <th>Uso del Inmueble</th>
                                <th>Precio mensual del inmueble</th>
                                <th>Dueño</th>
                                <th class="no-ordenable">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#BuscarInquilino').submit(function (event) {
            event.preventDefault(); // Evitar que se recargue la página
            var dni = $('#dni').val();
            $.ajax({
                url: '@Url.Action("BuscarInquilino", "Inmueble")',
                type: 'GET',
                data: { dni: dni },
                success: function (response) {
                    if (response.success) {
                        $('#buscarInmuebleContainer').removeClass('d-none');
                        $('.resultadoInquilino').html(`
                    <div class="row">
                        <div>
                            <hr>
                            <div>
                                <input type="hidden" id="idInquilino" name="idInquilino" value="${response.inquilino.idInquilino}">
                                <div class="form-group text-center">
                                    <label asp-for="DNI" class="control-label">DNI</label>
                                    <input asp-for="DNI" value="${response.inquilino.dni}" readonly class="form-control" required />
                                    <span asp-validation-for="DNI" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="Apellido" class="control-label">Apellido</label>
                                    <input asp-for="Apellido" value="${response.inquilino.apellido}" readonly class="form-control" required />
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="Nombre" class="control-label">Nombre</label>
                                    <input asp-for="Nombre" value="${response.inquilino.nombre}" readonly class="form-control" required />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
                    } else {
                        $('.resultadoInquilino').html(`
                    <div class="row">
                        <div>
                            <hr>
                            <input type="hidden" id="idInquilino" name="idInquilino" value="">
                            <div class="form-group text-center">
                                <label for="dni" class="control-label">DNI</label>
                                <input id="dni" value="${dni}" class="form-control" required />
                            </div>
                            <div class="form-group text-center">
                                <label for="apellido" class="control-label">Apellido</label>
                                <input id="apellido" class="form-control" required />
                            </div>
                            <div class="form-group text-center">
                                <label for="nombre" class="control-label">Nombre</label>
                                <input id="nombre" class="form-control" required />
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button id="crearInquilinoBtn" class="btn btn-primary">Crear Inquilino</button>
                            </div>
                        </div>
                    </div>
                `);
                    }
                }
            });
        });

        // Delegado de evento para el botón de crear inquilino
        $(document).on('click', '#crearInquilinoBtn', function () {
            // Recopilar los datos del formulario
            var dni = $('#dni').val();
            var apellido = $('#apellido').val();
            var nombre = $('#nombre').val();

            // Crear un objeto con los datos del inquilino
            var inquilino = {
                DNI: dni,
                Apellido: apellido,
                Nombre: nombre,
                Telefono: "",
                Email: "",
            };

            // Enviar los datos del inquilino al servidor para su almacenamiento en la base de datos
            $.ajax({
                url: '@Url.Action("CreateJSON", "Inquilino")', // Ruta para el controlador de creación de inquilinos
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(inquilino),
                success: function (response) {
                    // Manejar la respuesta del servidor
                    if (response.success) {
                        $('#buscarInmuebleContainer').removeClass('d-none');
                        $('#idInquilino').val(response.inquilino.idInquilino);
                        // Mostrar un mensaje de éxito o realizar alguna acción adicional si es necesario
                        alert('Inquilino creado exitosamente.');
                    } else {
                        // Mostrar un mensaje de error si ocurrió algún problema durante la creación del inquilino
                        alert('Error al crear el inquilino:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    // Manejar errores de la solicitud AJAX si es necesario
                    console.error('Error en la solicitud AJAX:', error);
                }
            });
        });


        // Agregar evento de cambio al select
        $('#IdUsoDeInmueble').change(function () {
            // Obtener el valor seleccionado del select
            var selectedUsoId = $(this).val();
            // Realizar la solicitud AJAX para obtener la lista de inmuebles
            $.ajax({
                url: '@Url.Action("ObtenerInmueblesPorUso", "Inmueble")',
                type: 'GET',
                data: { id: selectedUsoId },
                success: function (response) {
                    // Limpiar la tabla de resultados
                    $('#tablaResultados tbody').empty();

                    // Renderizar los nuevos resultados en la tabla
                    response.forEach(function (inmueble) {
                        var rows = `<tr class="centered-row">
                                <td class="direccion">${inmueble.direccion}</td>
                                <td>${inmueble.tipo.nombre}</td>
                                <td>${inmueble.uso.nombre}</td>
                                <td>${inmueble.precio}</td>
                                <td>${inmueble.duenio.apellido}</td>
                                <td>
                                    <span class="button-column">
                                        <a href="/Contrato/Create/?idInmueble=${inmueble.idInmueble}" title="Crear Contrato"><i class="fas fa-plus"></i></a>
                                    </span>
                                </td>
                            </tr>`;
                        $('#tablaResultados tbody').append(rows);
                    });
                },
                error: function (xhr, status, error) {
                    // Manejar errores si es necesario
                    console.error(xhr.responseText);
                }
            });
        });

        $('#IdTipoDeInmueble').change(function () {
            // Obtener el valor seleccionado del select
            var selectedTipoId = $(this).val();
            // Realizar la solicitud AJAX para obtener la lista de inmuebles
            $.ajax({
                url: '@Url.Action("ObtenerInmueblesPorTipo", "Inmueble")',
                type: 'GET',
                data: { id: selectedTipoId },
                success: function (response) {
                    // Limpiar la tabla de resultados
                    $('#tablaResultados tbody').empty();

                    // Renderizar los nuevos resultados en la tabla
                    response.forEach(function (inmueble) {
                        var rows = `<tr class="centered-row">

                                <td>${inmueble.direccion}</td>
                                <td>${inmueble.tipo.nombre}</td>
                                <td>${inmueble.uso.nombre}</td>
                                <td>${inmueble.precio}</td>
                                <td>${inmueble.duenio.apellido}</td>
                                <td>
                                    <span class="button-column">
                                        <a href="/Contrato/Create/?idInmueble=${inmueble.idInmueble}" title="Crear Contrato"><i class="fas fa-plus"></i></a>
                                    </span>
                                </td>
                            </tr>`;
                        $('#tablaResultados tbody').append(rows);
                    });
                },
                error: function (xhr, status, error) {
                    // Manejar errores si es necesario
                    console.error(xhr.responseText);
                }
            });
        });

        function validarPrecios(precioDesde, precioHasta) {
            // Verificar que los precios no sean negativos
            if (precioDesde < 0 || precioHasta < 0) {
                alert('Los precios no pueden ser negativos.');
                return false;
            }
            // Verificar que el precio hasta no sea menor que el precio desde
            if (precioHasta < precioDesde) {
                alert('El precio hasta no puede ser menor que el precio desde.');
                return false;
            }
            // Si pasa todas las validaciones, retornar true
            return true;
        }

        $('#formBuscar button[type="submit"]').click(function (event) {
            // Evitar que se envíe el formulario automáticamente
            event.preventDefault();

            // Validar que los campos no estén vacíos
            var usoDeInmueble = $('#IdUsoDeInmueble').val();
            var tipoDeInmueble = $('#IdTipoDeInmueble').val();
            var ambientes = $('#ambientes').val();
            var precioDesde = $('#precioDesde').val();
            var precioHasta = $('#precioHasta').val();
            var fechaDesde = $('#fechaDesde').val();
            var fechaHasta = $('#fechaHasta').val();

            var precioDesde = parseFloat($('#precioDesde').val());
            var precioHasta = parseFloat($('#precioHasta').val());

            // Validar los precios
            if (!validarPrecios(precioDesde, precioHasta)) {
                // Si la validación falla, detener el proceso
                return;
            }

            // Verificar que ningún campo esté vacío
            if (usoDeInmueble && tipoDeInmueble && ambientes && precioDesde && precioHasta && fechaDesde && fechaHasta) {
                // Si ningún campo está vacío, enviar el formulario
                $('#formBuscar').submit();
            } else {
                // Si algún campo está vacío, mostrar un mensaje de error
                alert('Por favor complete todos los campos antes de buscar un inmueble');
            }
        });

        $('#BuscarInquilino button[type="submit"]').click(function (event) {
            // Evitar que se envíe el formulario automáticamente
            event.preventDefault();

            // Validar que el campo no esté vacío
            var dni = $('#dni').val();

            // Verificar que el campo no esté vacío
            if (dni) {
                // Si el campo no está vacío, enviar el formulario
                $('#BuscarInquilino').submit();
            } else {
                // Si el campo está vacío, mostrar un mensaje de error
                alert('Por favor ingrese el DNI del inquilino antes de realizar la búsqueda.');
            }
        });

        $(document).ready(function () {
            function formatDate(dateString) {
                var parts = dateString.split('-');
                if (parts.length === 3) {
                    var year = parts[0];
                    var month = parts[1].length === 1 ? '0' + parts[1] : parts[1];
                    var day = parts[2].length === 1 ? '0' + parts[2] : parts[2];
                    return year + '-' + month + '-' + day;
                } else {
                    return '';
                }
            }

            // Delegado de evento para el formulario de búsqueda
            $('#formBuscar').submit(function (event) {
                event.preventDefault(); // Evitar que se recargue la página

                // Obtener los datos del formulario
                var formData = $(this).serialize();

                // Obtener las fechas desde los campos de fecha
                var fechaDesde = $('#fechaDesde').val();
                var fechaHasta = $('#fechaHasta').val();

                // Verificar que las fechas no estén vacías antes de formatearlas
                if (fechaDesde != null && fechaHasta != null) {
                    // Formatear las fechas al formato "yyyy-MM-dd"
                    var fechaDesdeFormatted = formatDate(fechaDesde);
                    var fechaHastaFormatted = formatDate(fechaHasta);

                    // Verificar si la fecha hasta es anterior a la fecha desde y viceversa
                    if (fechaHastaFormatted < fechaDesdeFormatted) {
                        alert('La fecha hasta no puede ser anterior a la fecha desde.');
                        return; // Detener el proceso si la validación falla
                    }

                    // Agregar las fechas formateadas al formulario
                    formData += `&fechaDesde=${fechaDesdeFormatted}&fechaHasta=${fechaHastaFormatted}`;
                }

                // Obtener el ID del inquilino del campo oculto si está presente
                var idInquilino = $('#idInquilino').val();

                // Construir la URL para el botón "Crear contrato"
                var urlCrearContrato = '/Contrato/Create/?' + formData;

                // Si hay un ID de inquilino, agregarlo a la URL
                if (idInquilino) {
                    urlCrearContrato += `&idInquilino=${idInquilino}`;
                }

                // Realizar la solicitud AJAX para buscar inmuebles
                $.ajax({
                    url: '@Url.Action("Buscar", "Inmueble")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        $('#tablaResultados tbody').empty(); // Limpiar la tabla
                        // Renderizar los resultados en la tabla
                        response.forEach(function (inmueble) {
                            // Construir la URL del contrato con los parámetros necesarios
                            // Construir la URL del contrato con los parámetros necesarios
                            var urlCrearContratoWithParams = `/Contrato/Create/${inmueble.idInmueble}/${idInquilino}/${inmueble.precio}/${fechaDesde}/${fechaHasta}`;
                            var rows = `<tr class="centered-row">

                            <td>${inmueble.direccion}</td>
                            <td>${inmueble.tipo.nombre}</td>
                            <td>${inmueble.uso.nombre}</td>
                            <td>${inmueble.precio}</td>
                            <td>${inmueble.duenio.apellido}</td>
                            <td>
                                <span class="button-column">
                                    <a href="${urlCrearContratoWithParams}" class="button" title="Crear Contrato"><i class="fas fa-plus"></i></a>
                                </span>
                            </td>
                        </tr>`;
                            $('#tablaResultados tbody').append(rows);
                        });

                    }
                });
            });
        });

        // Agregar evento de ordenación a los encabezados de las columnas
        $('th').click(function () {
            if (!$(this).hasClass('no-ordenable')) {
                var table = $(this).closest('table');
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
                this.asc = !this.asc;
                if (!this.asc) { rows = rows.reverse(); }
                for (var i = 0; i < rows.length; i++) { table.append(rows[i]); }

                // Remover todas las clases de ordenación de las columnas
                $('th').removeClass('ascending descending');

                // Remover todos los triángulos de las columnas
                $('.sort-icon').remove();

                // Agregar triángulo al lado del encabezado de la columna clicada
                $(this).append('<span class="sort-icon">' + (this.asc ? '▲' : '▼') + '</span>');
            }
        });
    });

    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index);
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
        };
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }
</script>
