@model List<Inmueble>

<!-- Modal para campo DNI vacío -->
<div class="modal fade error-modal" id="dniVacioModal" tabindex="-1" aria-labelledby="dniVacioModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dniVacioModalLabel">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;">Por favor ingrese el DNI del inquilino antes de realizar la
                    búsqueda.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para campos vacíos al buscar inmueble -->
<div class="modal fade error-modal" id="camposVaciosModal" tabindex="-1" aria-labelledby="camposVaciosModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black" id="camposVaciosModalLabel">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;"> Por favor complete todos los campos antes de buscar un
                    inmueble.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para cuando el ambiente es cero o negativo -->
<div class="modal fade error-modal" id="ambienteNegativoModal" tabindex="-1"
    aria-labelledby="ambienteNegativoModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;"> El ambiente no puede ser 0 o negativo.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para cuando el precio es negativo -->
<div class="modal fade error-modal" id="precioNegativoModal" tabindex="-1" aria-labelledby="precioNegativoModal"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;">El precio no puede ser negativo.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para cuando el precio hasta es menor que el precio desde -->
<div class="modal fade error-modal" id="precioInvalidoModal" tabindex="-1" aria-labelledby="precioInvalidoModal"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;">El precio hasta debe ser mayor o igual que el precio desde.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para fecha inválida -->
<div class="modal fade error-modal" id="fechaInvalidaModal" tabindex="-1" aria-labelledby="fechaInvalidaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black" id="fechaInvalidaModalLabel">¡Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-times-circle" style="color: red; font-size: 24px;"></i>
                <span style="margin-left: 10px;"> La fecha hasta no puede ser anterior a la fecha desde.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <h1 class="text-center">Disponibilidad de Inmuebles</h1>
    <div class="row justify-content-center">
        <!-- Columna para el formulario de búsqueda de inmueble -->
        <div class="col-md-6" id="buscarInmuebleContainer">
            <div class="container text-center mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="formBuscar" asp-action="Buscar" method="post">
                                    <h2>Buscar Inmueble</h2>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Inquilino</label>
                                            <input type="text" value="@ViewBag.Inquilino.ToString()"
                                                class="form-control text-center" readonly>
                                            <input type="hidden" id="idInquilino" name="idInquilino"
                                                value="@ViewBag.IdInquilino" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="ambientes" class="form-label">Cantidad de ambientes:</label>
                                            <input type="number" id="ambientes" name="ambientes"
                                                class="form-control text-center">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="IdUsoDeInmueble" class="form-label">Uso del inmueble:</label>
                                            <select id="IdUsoDeInmueble" class="form-select text-center"
                                                name="IdUsoDeInmueble">
                                                <option selected value="">Seleccionar</option>
                                                @foreach (var item in ViewBag.UsosDeInmuebles)
                                                {
                                                    <option value="@item.IdUsoDeInmueble">@item.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="IdTipoDeInmueble" class="form-label">Tipo de inmueble:</label>
                                            <select id="IdTipoDeInmueble" class="form-select text-center"
                                                name="IdTipoDeInmueble">
                                                <option selected value="">Seleccionar</option>
                                                @foreach (var item in ViewBag.TiposDeInmuebles)
                                                {
                                                    <option value="@item.IdTipoDeInmueble">@item.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="precioDesde" class="form-label">Precio desde:</label>
                                            <input type="number" id="precioDesde" name="precioDesde"
                                                class="form-control text-center">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="precioHasta" class="form-label">Precio hasta:</label>
                                            <input type="number" id="precioHasta" name="precioHasta"
                                                class="form-control text-center">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="fechaDesde" class="form-label">Fecha desde:</label>
                                            <input type="date" id="fechaDesde" name="fechaDesde"
                                                class="form-control text-center">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fechaHasta" class="form-label">Fecha hasta:</label>
                                            <input type="date" id="fechaHasta" name="fechaHasta"
                                                class="form-control text-center">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Columna para la tabla -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="mt-4">Inmuebles disponibles:</h2>
                <table id="tablaResultados" class="table table-striped table-hover table-bordered custom-table">
                    <thead>
                        <tr>
                            <th>Dirección</th>
                            <th>Tipo de Inmueble</th>
                            <th>Uso del Inmueble</th>
                            <th>Precio mensual del inmueble</th>
                            <th>Dueño</th>
                            <th class="no-ordenable">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#formBuscar').submit(function (event) {
            event.preventDefault(); // Evitar que se recargue la página
            var formData = {};

            // Obtener los valores de los campos
            var idUsoDeInmueble = $('#IdUsoDeInmueble').val();
            var idTipoDeInmueble = $('#IdTipoDeInmueble').val();
            var ambientes = $('#ambientes').val();
            var precioDesde = $('#precioDesde').val();
            var precioHasta = $('#precioHasta').val();
            var fechaDesde = $('#fechaDesde').val();
            var fechaHasta = $('#fechaHasta').val();

            if (idUsoDeInmueble) {
                formData.idUsoDeInmueble = idUsoDeInmueble;
            }
            if (idTipoDeInmueble) {
                formData.idTipoDeInmueble = idTipoDeInmueble;
            }
            if (ambientes) {
                formData.ambientes = ambientes;
            }
            if (precioDesde) {
                formData.precioDesde = precioDesde;
            }
            if (precioHasta) {
                formData.precioHasta = precioHasta;
            }
            if (fechaDesde) {
                formData.fechaDesde = fechaDesde;
                urlCrearContratoWithParams += `/${fechaDesde}`;
            }
            if (fechaHasta) {
                formData.fechaHasta = fechaHasta;
                urlCrearContratoWithParams += `/${fechaHasta}`;
            }

            if (
                idUsoDeInmueble || idTipoDeInmueble || ambientes || precioDesde || precioHasta || fechaDesde || fechaHasta
            ) {
                console.log(idUsoDeInmueble, idTipoDeInmueble, ambientes, precioDesde, precioHasta, fechaDesde, fechaHasta)
                $.ajax({
                    url: '@Url.Action("Buscar", "Inmueble")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        // Manejar los resultados
                        $('#tablaResultados tbody').empty(); // Limpiar la tabla
                        response.forEach(function (inmueble) {
                            var idInquilino = $('#idInquilino').val();
                            // Construir la URL del contrato con los parámetros necesarios
                            var urlCrearContratoWithParams = `/Contrato/Create/${inmueble.idInmueble}/${idInquilino}/${inmueble.precio}`;
                            if (fechaDesde) {
                                urlCrearContratoWithParams += `/${fechaDesde}`;
                            }
                            if (fechaHasta) {
                                urlCrearContratoWithParams += `/${fechaHasta}`;
                            }

                            // Construir filas de resultados y agregarlas a la tabla
                            var rows = `<tr class="centered-row">
                                            <td>${inmueble.direccion}</td>
                                            <td>${inmueble.tipo.nombre}</td>
                                            <td>${inmueble.uso.nombre}</td>
                                            <td>${inmueble.precio}</td>
                                            <td>${inmueble.duenio.nombre} ${inmueble.duenio.apellido}</td>
                                            <td>
                                                <span class="button-column">
                                                    <a href="${urlCrearContratoWithParams}" class="button" title="Crear Contrato"><i class="fas fa-plus"></i></a>
                                                </span>
                                            </td>
                                        </tr>`;
                            $('#tablaResultados tbody').append(rows);
                        });
                    },
                    error: function (xhr, status, error) {
                        // Manejar errores de la solicitud
                        console.error("Error durante la búsqueda de inmuebles: ", error);
                    }
                });
            } else {
                // Si no se proporciona ningún parámetro opcional, mostrar mensaje de error
                $('#camposVaciosModal').modal('show');
            }
        });

        // Agregar evento de ordenación a los encabezados de las columnas
        $('th').click(function () {
            if (!$(this).hasClass('no-ordenable')) {
                var table = $(this).closest('table');
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
                this.asc = !this.asc;
                if (!this.asc) { rows = rows.reverse(); }
                for (var i = 0; i < rows.length; i++) { table.append(rows[i]); }

                // Remover todas las clases de ordenación de las columnas
                $('th').removeClass('ascending descending');

                // Remover todos los triángulos de las columnas
                $('.sort-icon').remove();

                // Agregar triángulo al lado del encabezado de la columna clicada
                $(this).append('<span class="sort-icon">' + (this.asc ? '▲' : '▼') + '</span>');
            }
        });

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
            };
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
</script>
