@model inmobiliariaBaigorriaDiaz.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ALTA DE INMUEBLE</b></h1>
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IdTipoDeInmueble" class="control-label">Tipo de inmueble</label>
                            <div class="select-group">
                                <select asp-for="IdTipoDeInmueble" class="form-select" name="IdTipoDeInmueble">
                                    <option disabled="" selected="" hidden="" value="">Seleccione un tipo de inmueble
                                    </option>
                                    @foreach (var item in ViewBag.TiposDeInmuebles)
                                    {
                                        <option value="@item.IdTipoDeInmueble">@(item.Nombre)</option>
                                    }
                                    <span class="option-group">
                                        <i class="fa fa-check text-success d-none"></i>
                                        <i class="fa fa-times text-danger d-none"></i>
                                    </span>
                                    <div class="invalid-feedback">Seleccione un tipo de inmueble</div>
                                </select>
                            </div>
                            <span asp-validation-for="IdTipoDeInmueble" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ambientes" class="control-label"></label>
                            <input asp-for="Ambientes" class="form-control" />
                            <span asp-validation-for="Ambientes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Superficie" class="control-label"></label>
                            <input asp-for="Superficie" class="form-control" />
                            <span asp-validation-for="Superficie" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Longitud" class="control-label"></label>
                            <input asp-for="Longitud" class="form-control" />
                            <span asp-validation-for="Longitud" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Latitud" class="control-label"></label>
                            <input asp-for="Latitud" class="form-control" />
                            <span asp-validation-for="Latitud" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Precio" class="control-label"></label>
                            <input asp-for="Precio" class="form-control" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Uso de inmueble</label>
                            <select class="form-select" name="IdUsoDeInmueble">
                                <option disabled="" selected="" hidden="" value="">Seleccione un uso de inmueble
                                </option>
                                @foreach (var item in ViewBag.UsosDeInmuebles)
                                {
                                    <option value="@item.IdUsoDeInmueble">@(item.Nombre)</option>
                                }
                            </select>
                            <span asp-validation-for="IdUsoDeInmueble" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Propietario</label>
                            <select class="form-select" name="IdPropietario">
                                <option disabled="" selected="" hidden="" value="">Seleccione un Propietario</option>
                                @foreach (var item in ViewBag.Propietarios)
                                {
                                    <option value="@item.IdPropietario">@(item.ToString())</option>
                                }
                            </select>
                            <span asp-validation-for="IdPropietario" class="text-danger"></span>
                        </div>
                        <br>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" value="Dar de Alta" class="btn btn-primary btn-guardar"
                                style="margin-right: 30px;" />
                            <button type="button" onclick="window.location.href='@Url.Action("Index", "Inmueble")'"
                                class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a
                                la
                                Lista</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Validar los campos y mostrar los iconos de verificación
        $(document).ready(function () {
            $('.input-group input').on('input', function () {
                var inputGroup = $(this).closest('.input-group');
                var iconCheck = inputGroup.find('.fa-check');
                var iconTimes = inputGroup.find('.fa-times');
                if ($(this).val().trim() !== '') {
                    iconCheck.removeClass('d-none');
                    iconTimes.addClass('d-none');
                } else {
                    iconCheck.addClass('d-none');
                    iconTimes.removeClass('d-none');
                }
            });
        });
    </script>
}