@model inmobiliariaBaigorriaDiaz.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ALTA DE INMUEBLE</b></h1>
                    <form id="BuscarPropietario" class="mt-md-0 mt-4">
                        <h2>Buscar Propietario</h2>
                        <div class="mb-3">
                            <label for="dni" class="form-label">Ingrese el DNI del propietario:</label>
                            <input type="number" name="dni" id="dni" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                    <div class="resultadoPropietario mt-3"></div>
                    <form asp-action="Create" class="needs-validation" novalidate id="formAltaInmueble">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ambientes" class="control-label"></label>
                            <input asp-for="Ambientes" class="form-control" />
                            <span asp-validation-for="Ambientes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Superficie" class="control-label"></label>
                            <input asp-for="Superficie" class="form-control" />
                            <span asp-validation-for="Superficie" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Longitud" class="control-label"></label>
                            <input asp-for="Longitud" class="form-control" />
                            <span asp-validation-for="Longitud" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Latitud" class="control-label"></label>
                            <input asp-for="Latitud" class="form-control" />
                            <span asp-validation-for="Latitud" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Precio" class="control-label"></label>
                            <input asp-for="Precio" class="form-control" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Uso del inmueble</label>
                            <select class="form-select" name="IdUsoDeInmueble">
                                <option disabled="" selected="" hidden="" value="">Seleccione un uso de inmueble
                                </option>
                                @foreach (var item in ViewBag.UsosDeInmuebles)
                                {
                                    <option value="@item.IdUsoDeInmueble">@(item.Nombre)</option>
                                }
                            </select>
                            <span asp-validation-for="IdUsoDeInmueble" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdTipoDeInmueble" class="control-label">Tipo de inmueble</label>
                            <div class="select-group">
                                <select asp-for="IdTipoDeInmueble" class="form-select" name="IdTipoDeInmueble">
                                    <option disabled="" selected="" hidden="" value="">Seleccione un tipo de inmueble
                                    </option>
                                    @foreach (var item in ViewBag.TiposDeInmuebles)
                                    {
                                        <option value="@item.IdTipoDeInmueble">@(item.Nombre)</option>
                                    }
                                    <span class="option-group">
                                        <i class="fa fa-check text-success d-none"></i>
                                        <i class="fa fa-times text-danger d-none"></i>
                                    </span>
                                    <div class="invalid-feedback">Seleccione un tipo de inmueble</div>
                                </select>
                            </div>
                            <span asp-validation-for="IdTipoDeInmueble" class="text-danger"></span>
                            <input type="hidden" id="idPropietario" name="idPropietario" value="" />
                            <div class="form-group text-center mt-2">
                                <button type="submit" class="btn btn-primary">Alta</button>
                                <a href="@Url.Action("Index", "Inmueble")"
                                    class="m-2 p-2 btn btn-outline-warning">Volver a
                                    la Lista</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#BuscarPropietario').submit(function (event) {
            event.preventDefault();
            var dni = $('#dni').val();
            $.ajax({
                url: '@Url.Action("BuscarPropietario", "Propietario")',
                type: 'GET',
                data: { dni: dni },
                success: function (response) {
                    if (response.propietario.dni !== '') {
                        $('.resultadoPropietario').html(`
                                        <div class="row">
                                            <div>
                                                <hr>
                                                <div>
                                                    <input type="hidden" asp-for="IdPropietario" id="idPropietario" value="${response.propietario.idPropietario}" name="IdPropietario" />
                                                    <div class="form-group text-center">
                                                        <label asp-for="DNI" class="control-label">DNI</label>
                                                        <input asp-for="DNI" value="${response.propietario.dni}" readonly class="form-control" required />
                                                        <span asp-validation-for="DNI" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label asp-for="Apellido" class="control-label">Apellido</label>
                                                        <input asp-for="Apellido" value="${response.propietario.apellido}" readonly class="form-control" required />
                                                        <span asp-validation-for="Apellido" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label asp-for="Nombre" class="control-label">Nombre</label>
                                                        <input asp-for="Nombre" value="${response.propietario.nombre}" readonly class="form-control" required />
                                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `);
                        $('#idPropietario').val(response.propietario.idPropietario);
                        console.log($('#idPropietario').val());
                    } else {
                        // Mostrar el formulario para crear un nuevo propietario si no se encuentra
                        $('.resultadoPropietario').html(`
                                        <div class="row">
                                            <div>
                                                <hr>
                                                <input type="hidden" asp-for="IdPropietario" id="idPropietario" name="IdPropietario" />
                                                <div class="form-group text-center">
                                                    <label for="dniForm" class="control-label">DNI</label>
                                                    <input id="dniForm" value="${dni}" class="form-control" required />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="apellido" class="control-label">Apellido</label>
                                                    <input id="apellido" class="form-control" required />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="nombre" class="control-label">Nombre</label>
                                                    <input id="nombre" class="form-control" required />
                                                </div>
                                                <br>
                                                <div class="text-center">
                                                    <button id="crearPropietarioBtn" class="btn btn-primary">Crear Propietario</button>
                                                </div>
                                            </div>
                                        </div>
                                    `);
                    }
                }
            });
        });
        $(document).on('click', '#crearPropietarioBtn', function () {
            var dni = $('#dniForm').val();
            var apellido = $('#apellido').val();
            var nombre = $('#nombre').val();
            var propietario = {
                DNI: dni,
                Apellido: apellido,
                Nombre: nombre,
                Telefono: "",
                Email: "",
            };
            $.ajax({
                url: '@Url.Action("CreateJSON", "Propietario")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(propietario),
                success: function (response) {
                    if (response.success) {
                        $('#crearPropietarioBtn').hide();
                        $('#dniForm').prop('readonly', true);
                        $('#apellido').prop('readonly', true);
                        $('#nombre').prop('readonly', true);
                        $('#idPropietario').val(response.idPropietario);
                    } else {
                        alert('Error al crear el propietario:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Error en la solicitud AJAX:', error);
                }
            });
        });
    </script>
}
