@model inmobiliariaBaigorriaDiaz.Models.Inmueble

@{
    ViewData["Title"] = "Detalles";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ALTA DE INMUEBLE</b></h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IdInmueble)
                        </dt>
                        <dd class="col-sm-5 text-center">
                            @Html.DisplayFor(model => model.IdInmueble)
                        </dd>
                        <dd class="col-sm-3"></dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>
                        <dd class="col-sm-7 text-center">
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>
                        <dd class="col-sm-2"></dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Tipo.Nombre)
                        </dt>
                        <dd class="col-sm-5 text-center">
                            @Html.DisplayFor(model => model.Tipo.Nombre)
                        </dd>
                        <dd class="col-sm-3"></dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Ambientes)
                        </dt>
                        <dd class="col-sm-5 text-center">
                            @Html.DisplayFor(model => model.Ambientes)
                        </dd>
                        <dd class="col-sm-3"></dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Superficie)
                        </dt>
                        <dd class="col-sm-7 text-center">
                            @Html.DisplayFor(model => model.Superficie)
                        </dd>
                        <dt class="col-sm-2"></dt>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Longitud)
                        </dt>
                        <dd class="col-sm-7 text-center">
                            @Html.DisplayFor(model => model.Longitud)
                        </dd>
                        <dd class="col-sm-2"></dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Latitud)
                        </dt>
                        <dd class="col-sm-9 text-center">
                            @Html.DisplayFor(model => model.Latitud)
                        </dd>
                        <dd class="col-sm-1"></dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Precio)
                        </dt>
                        <dd class="col-sm-9 text-center">
                            @Html.DisplayFor(model => model.Precio)
                        </dd>
                        <dd class="col-sm-1"></dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Uso.Nombre)
                        </dt>
                        <dd class="col-sm-9 text-center">
                            @Html.DisplayFor(model => model.Uso.Nombre)
                        </dd>
                        <dd class="col-sm-1"></dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-3 text-center">
                            @if (!Model.Estado)
                            {
                                <span>No Disponible</span>
                            }
                            else
                            {
                                <span>Disponible</span>
                            }
                        </dd>
                        <dd class="col-sm-4"></dd>
                        <dt class="col-sm-2">
                            <span>Dueño</span>
                        </dt>
                        <dd class="col-sm-9 text-center">
                            @(Model.Duenio?.ToString())
                        </dd>
                        <dd class="col-sm-1"></dd>
                        <dd class="col-sm-12"></dd>
                    </dl>
                    <div class="text-center mt-3">
                        <a href="@Url.Action("Edit", new { id = Model.IdInmueble })" class="btn btn-primary btn-editar"
                            style="margin-right: 30px;">Editar</a>
                        <button type="button" onclick="window.location.href='@Url.Action("Index", "Inmueble")'"
                            class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la
                            Lista</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
