@model IEnumerable<inmobiliariaBaigorriaDiaz.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><u>Lista de Inquilinos</u></h1>

<p>
    <a asp-action="Create">Crear un Inquilino</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @if (item.Telefono.Equals(""))
                {
                    <td class="text-center">
                        No declarado
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                }
                @if (item.Email.Equals(""))
                {
                    <td class="text-center">
                        No declarado
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                }
                <td class="text-center">
                    <a href="@Url.Action("Edit", new { id = item.IdInquilino })" title="Editar"> <i
                            class="fas fa-edit"></i></a>
                    |
                    <a href="@Url.Action("Details", new { id = item.IdInquilino })" title="Detalles"> <i
                            class="fas fa-info-circle"></i></a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.IdInquilino })" title="Eliminar"> <i
                            class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
