@model inmobiliariaBaigorriaDiaz.Models.UsoDeInmueble

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>BAJA DEL USO DE INMUEBLE</b></h1>
                    <h2 class="text-center">¿Está seguro que desea dar de baja al siguiente uso de inmueble?</h2>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IdUsoDeInmueble)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IdUsoDeInmueble)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @if (Model.Estado)
                            {
                                @Html.Label("Alta")
                            }
                            else
                            {
                                @Html.Label("Baja")
                            }
                        </dd>
                        <dt class="col-sm-12"></dt>
                    </dl>
                    <div class="text-center mt-3">
                        <form asp-action="Delete">
                            <input type="submit" value="Baja" class="btn btn-danger" style="margin-right: 30px;" />
                            <button type="button" onclick="window.location.href='@Url.Action("Index", "UsoDeInmueble")'"
                                class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a
                                la
                                Lista</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>