@model inmobiliariaBaigorriaDiaz.Models.UsoDeInmueble

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h5>Está seguro que quiere eliminar un Tipo de Inmueble?</h5>
<div>
    <h4>Uso De Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsoDeInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsoDeInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
       <input type="submit" value="Baja" class="btn btn-danger" style="margin-right: 30px;" />
        <button type="button" onclick="window.location.href='@Url.Action("Index", "TipoDeInmueble")'" class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la Lista</button>
    </form>
</div>
