@model inmobiliariaBaigorriaDiaz.Models.UsoDeInmueble

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>DETALLE DEL USO DEL INMUEBLE</b></h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdUsoDeInmueble)
                        </dt>
                        <dd class="col-sm-10 text-center">
                            @Html.DisplayFor(model => model.IdUsoDeInmueble)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-4 text-center">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-3"></dt>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8 text-center">
                            @if (Model.Estado)
                            {
                                @Html.Label("Si")
                            }
                            else
                            {
                                @Html.Label("No")
                            }
                        </dd>
                        <dd class="col-sm-1"></dd>
                        <dt class="col-sm-12"></dt>
                    </dl>
                    <div class="text-center mt-3">
                        <a href="@Url.Action("Edit", new { id = Model.IdUsoDeInmueble })"
                            class="btn btn-primary btn-editar" style="margin-right: 30px;">Editar</a>
                        <button type="button" onclick="window.location.href='@Url.Action("Index", "UsoDeInmueble")'"
                            class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la
                            Lista</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
