@model IEnumerable<inmobiliariaBaigorriaDiaz.Models.UsoDeInmueble>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><u>Lista de usos de inmuebles</u></h1>
<p>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsoDeInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)@foreach (var item in Model)
            {
                <tr class="centered-row">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsoDeInmueble)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @if (!item.Estado)
                        {
                            <span>No Disponible</span>
                        }
                        else
                        {
                            <span>Disponible</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.IdUsoDeInmueble })" title="Editar"> <i
                                class="fas fa-edit custom-color"></i></a>
                        |
                        <a href="@Url.Action("Details", new { id = item.IdUsoDeInmueble })" title="Detalles"> <i
                                class="fas fa-info-circle"></i></a>
                        |
                        <a href="@Url.Action("Delete", new { id = item.IdUsoDeInmueble })" title="Eliminar"> <i
                                class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            }
    </tbody>
</table>
