@model inmobiliariaBaigorriaDiaz.Models.Contrato

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="IdInquilino">
                    <option value="0">Seleccione un inquilino</option>
                    @foreach (var item in (IList<inmobiliariaBaigorriaDiaz.Models.Inquilino>)ViewBag.Inquilinos)
                    {
                        <option value="@item.IdInquilino">@(item.DNI + " - " + @item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="IdInmueble">
                    <option value="0">Seleccione un inmueble</option>
                    @foreach (var item in (IList<inmobiliariaBaigorriaDiaz.Models.Inmueble>)ViewBag.inmuebles)
                    {
                        <option value="@item.IdInmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlquilerDesde" class="control-label">Fecha de comienzo del contrato: </label>
                <input name="AlquilerDesde" type="date">
                <span asp-validation-for="AlquilerDesde" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="AlquilerHasta" class="control-label">Fecha de fin del contrato: </label>
                <input name="AlquilerHasta" type="date">
                <span asp-validation-for="AlquilerHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

