@model inmobiliariaBaigorriaDiaz.Models.Contrato

@{
    ViewData["Title"] = "Create";
}

<h1>Alta</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-select" name="IdInquilino">
                    <option value="0">Seleccione un inquilino</option>
                    @foreach (var item in (IList<inmobiliariaBaigorriaDiaz.Models.Inquilino>)ViewBag.Inquilinos)
                    {
                        <option value="@item.IdInquilino">@(item.DNI + " - " + @item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-select" name="IdInmueble">
                    <option value="0">Seleccione un inmueble</option>
                    @foreach (var item in (IList<inmobiliariaBaigorriaDiaz.Models.Inmueble>)ViewBag.inmuebles)
                    {
                        <option value="@item.IdInmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlquilerDesde" class="control-label">Fecha de comienzo del contrato: </label>
                <br>
                <input name="AlquilerDesde" type="date" class="form-control">
                <span asp-validation-for="AlquilerDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlquilerHasta" class="control-label">Fecha de fin del contrato: </label>
                <br>
                <input name="AlquilerHasta" type="date" class="form-control">
                <span asp-validation-for="AlquilerHasta" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Dar de Alta" class="btn btn-primary btn-guardar" style="margin-right: 30px;"/>
                <button type="button" onclick="window.location.href='@Url.Action("Index", "Contrato")'" class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la
                    Lista</button>
            </div>
        </form>
    </div>
</div>


