@model inmobiliariaBaigorriaDiaz.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ACTUALIZACIÓN DEL CONTRATO</b></h1>
                    <hr />
                    <dl class="row">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="IdContrato" class="control-label"></label>
                                <input asp-for="IdContrato" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="IdInquilino" class="control-label">Seleccione el inquilino:</label>
                                <select asp-for="IdInquilino" class="form-select">
                                    @foreach (var item in ViewBag.Inquilinos)
                                        @if (@Model.Inquilino.IdInquilino == item.IdInquilino)
                                        {
                                            <option selected value="@item.IdInquilino"> @item.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdInquilino"> @item.ToString()</option>
                                        }
                                </select>
                                <span asp-validation-for="IdInquilino" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdInmueble" class="control-label">Seleccione la dirección del
                                    inmueble</label>
                                <select asp-for="IdInmueble" class="form-select">
                                    @foreach (var item in ViewBag.Inmuebles)
                                        @if (@Model.Inmueble.IdInmueble == item.IdInmueble)
                                        {
                                            <option selected value="@item.IdInmueble"> @item.Direccion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdInmueble"> @item.Direccion</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="IdInmueble" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Precio" class="control-label"></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlquilerDesde" class="control-label">Fecha de comienzo del contrato:
                                </label>
                                <br>
                                <input asp-for="AlquilerDesde" type="date" class="form-control">
                                <span asp-validation-for="AlquilerDesde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlquilerHasta" class="control-label">Fecha de fin del contrato: </label>
                                <br>
                                <input asp-for="AlquilerHasta" type="date" class="form-control">
                                <span asp-validation-for="AlquilerHasta" class="text-danger"></span>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-guardar"
                                    style="margin-right: 30px;" />
                                <button type="button" onclick="window.location.href='@Url.Action("Index", "Contrato")'"
                                    class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;">
                                    Volver a la
                                    Lista</button>
                            </div>
                        </form>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function formatDate(dateString) {
            var parts = dateString.split('-');
            if (parts.length === 3) {
                var year = parts[0];
                var month = parts[1].length === 1 ? '0' + parts[1] : parts[1];
                var day = parts[2].length === 1 ? '0' + parts[2] : parts[2];
                return year + '-' + month + '-' + day;
            } else {
                return '';
            }
        }

        // Delegado de evento para el formulario de búsqueda
        $('#formBuscar').submit(function (event) {
            event.preventDefault(); // Evitar que se recargue la página

            // Obtener los datos del formulario
            var formData = $(this).serialize();

            // Obtener las fechas desde los campos de fecha
            var fechaDesde = $('#AlquilerDesde').val();
            var fechaHasta = $('#AlquilerHasta').val();

            // Verificar que las fechas no estén vacías antes de formatearlas
            if (fechaDesde != null && fechaHasta != null) {
                // Formatear las fechas al formato "yyyy-MM-dd"
                var fechaDesdeFormatted = formatDate(fechaDesde);
                var fechaHastaFormatted = formatDate(fechaHasta);

                // Verificar si la fecha hasta es anterior a la fecha desde y viceversa
                if (fechaHastaFormatted < fechaDesdeFormatted) {
                    alert('La fecha hasta no puede ser anterior a la fecha desde.');
                    return; // Detener el proceso si la validación falla
                } else {
                    $('#formBuscar').submit();
                }
            }
        });
    });
</script>