@model inmobiliariaBaigorriaDiaz.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ACTUALIZACIÓN DEL CONTRATO</b></h1>
                    <hr />
                    <dl class="row">
                        <form id="editForm" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="IdContrato" class="control-label"></label>
                                <input asp-for="IdContrato" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="IdInquilino" class="control-label">Seleccione el inquilino:</label>
                                <select asp-for="IdInquilino" class="form-select">
                                    @foreach (var item in ViewBag.Inquilinos)
                                        @if (@Model.Inquilino.IdInquilino == item.IdInquilino)
                                        {
                                            <option selected value="@item.IdInquilino"> @item.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdInquilino"> @item.ToString()</option>
                                        }
                                </select>
                                <span asp-validation-for="IdInquilino" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdInmueble" class="control-label">Seleccione la dirección del
                                    inmueble</label>
                                <select asp-for="IdInmueble" class="form-select">
                                    @foreach (var item in ViewBag.Inmuebles)
                                        @if (@Model.Inmueble.IdInmueble == item.IdInmueble)
                                        {
                                            <option selected value="@item.IdInmueble"> @item.Direccion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdInmueble"> @item.Direccion</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="IdInmueble" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Precio" class="control-label"></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlquilerDesde" class="control-label">Fecha de comienzo del contrato:
                                </label>
                                <br>
                                <input asp-for="AlquilerDesde" type="date" class="form-control">
                                <span asp-validation-for="AlquilerDesde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlquilerHasta" class="control-label">Fecha de fin del contrato: </label>
                                <br>
                                <input asp-for="AlquilerHasta" type="date" class="form-control">
                                <span asp-validation-for="AlquilerHasta" class="text-danger"></span>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <input type="submit" id="editBtn" value="Guardar" class="btn btn-primary btn-guardar"
                                    style="margin-right: 30px;" />
                                <button type="button" onclick="window.location.href='@Url.Action("Index", "Contrato")'"
                                    class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;">
                                    Volver a la
                                    Lista</button>
                            </div>
                        </form>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Delegado de evento para el formulario de edición
        $('#editForm').on('submit', function (event) {
            // Evitar que se envíe el formulario
            event.preventDefault();

            // Obtener las fechas desde los campos de fecha
            console.log($('#AlquilerDesde').val());
            console.log($('#AlquilerHasta').val());

            var fechaDesde = new Date($('#AlquilerDesde').val());
            var fechaHasta = new Date($('#AlquilerHasta').val());

            console.log(fechaDesde); 
            console.log(fechaHasta);
            console.log(fechaHasta < fechaDesde);
            // Verificar si la fecha hasta es anterior a la fecha desde
            if (fechaHasta < fechaDesde) {
                alert('La fecha de fin del contrato no puede ser anterior a la fecha de inicio.');
                return; // Detener el proceso si la validación falla
            }

            // Si las validaciones pasan, enviar el formulario
            //this.submit();
        });
    });
/*
<div class="row">
    <div>
        <hr>
        <div>
            <input type="hidden" id="idInquilino" name="idInquilino" value="${response.inquilino.idInquilino}">
            <div class="form-group text-center">
                <label asp-for="DNI" class="control-label">DNI</label>
                <input asp-for="DNI" value="${response.inquilino.dni}" readonly class="form-control" required />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" value="${response.inquilino.apellido}" readonly class="form-control" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" value="${response.inquilino.nombre}" readonly class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <hr>
        <div>
            <input type="hidden" id="idInquilino" name="idInquilino" value="${response.inquilino.idInquilino}">
            <div class="form-group text-center">
                <label asp-for="DNI" class="control-label">DNI</label>
                <input asp-for="DNI" value="${response.inquilino.dni}" readonly class="form-control" required />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" value="${response.inquilino.apellido}" readonly class="form-control" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" value="${response.inquilino.nombre}" readonly class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

*/
</script>