@model IEnumerable<inmobiliariaBaigorriaDiaz.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                Nombre del Inquilino
            </th>
            <th>
                Domicilio del Inmueble
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDeContrato)
            </th>
            <th>
                Fecha de Inicio del Contrato
            </th>
            <th>
                Fecha de Fin del Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdContrato)
                </td>
                <td>
                    @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
                </td>
                <td>
                    @(item.Inmueble.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioDeContrato)
                </td>
                <td>
                    @(item.AlquilerDesde.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @(item.AlquilerHasta.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdContrato }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdContrato }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdContrato })
                </td>
            </tr>
        }
    </tbody>
</table>
