@model IEnumerable<inmobiliariaBaigorriaDiaz.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><u>Lista de Contratos</u></h1>

<p>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                Nombre del Inquilino
            </th>
            <th>
                Domicilio del Inmueble
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="centered-row">
                <td>
                    @Html.DisplayFor(modelItem => item.IdContrato)
                </td>
                <td>
                    @(item.Inquilino.ToString())
                </td>
                <td>
                    @(item.Inmueble.Direccion)
                </td>
                <td>
                    @if (!item.Estado)
                    {
                        <span>No</span>
                    }
                    else
                    {
                        <span>Si</span>
                    }
                </td>
                <td>
                    <span class="button-column">
                        <a href="@Url.Action("Edit", new { id = item.IdContrato })" title="Editar"> <i
                                class="fas fa-edit custom-color"></i></a>
                        |
                        <a href="@Url.Action("Details", new { id = item.IdContrato })" title="Detalles"> <i
                                class="fas fa-info-circle"></i></a>
                        |
                        <a href="@Url.Action("Delete", new { id = item.IdContrato })" title="Eliminar"> <i
                                class="fas fa-trash-alt text-danger"></i></a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
